body {
    font-family: 'Playfair Display SC', serif;
    font-family: 'Capriola', sans-serif;
}

/*Header*/
.Navbar {
    display: flex;
    padding: .5rem 3rem .5rem 3rem;
    background-color: #ff00f0;
    border-bottom: 4px solid white;
}

.Nav {
    display: flex;
    align-items: flex-end;
}

.hamburger {
    background-color: white;
}

.hamburger:hover {
    border: 3px solid #3dd3e3;
}


/*Footer*/
.footerTop {
    background-color: white; 
    padding: 2rem 3rem .5rem 3rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 4px solid white;
}

.footerTopContent {
    display: flex;
}

.footerTopContentDiv {
    margin: 0 2rem 0 2rem;
}

.footerBottom {
    background-color: #b5b5b5;
    border-top: 1px solid grey;
    padding: 1rem 3rem 0 3rem;
    display: flex;
    justify-content: center;
}

.footerBottom p {
    margin-right: 2rem
}


@media (max-width: 600px) {

    .footerTop {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 2rem 0;
    }
    .footerTopContent {
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    .footerTopContentDiv {
        margin: 1rem;
    }

}

/*Welcome*/
/*https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80*/
.welcomeContainer {
   padding: 20rem;
   background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;

}

.welcomeCard {
    opacity: 1;
    border: 4px solid white;
    margin-top: -10%;
    background-image: linear-gradient(#3dd3e3,#0c99c1);
    padding: 7%;
}

@media (max-width: 950px) {
    .welcomeContainer {
        padding: 10rem;
    }
}

@media (max-width: 600px) {
    .welcomeContainer {
        padding: 5rem;
    }
}

.welcomeTitle {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.welcomeLinks {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.welcomeLinks:hover {
    text-decoration: none;
    color: #ff00f0;
}

.welcomeButton {
    background-color: #ff00f0;
    margin: 2rem;
    border: 3px solid white;
}

.welcomeButton:hover {
    background-color: white;
    color: #ff00f0;
    border: 3px solid #ff00f0;
}

/*Sign Forms*/

.formContainer {
    display: flex;
}

.signFormImage {
    
    background-image: url('https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.signForm {
    width: 50%;
    padding: 10rem;
}

.signButton {
    background-color: #ff00f0;
    border: 3px solid white;
    margin-top: 2rem;
}

.signButton:hover {
    background-color: white;
    color: #ff00f0;
    border: 3px solid #ff00f0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1000px) {
   .signForm {
       padding: 5rem;
   }
    
}

@media (max-width: 650px) {
    
    .signFormImage {
        display: none;
    }
     .signForm {
         padding: 2rem 0 2rem 0;
     }
     .formContainer {
         justify-content: center;
     }
 }

 .noAccountLink {
     text-decoration: none;
     color: black;
     text-align: center;
     margin-top: 2rem;
 }

 .noAccountLink:hover {
     text-decoration: none;
     color: #ff00f0;
 }